
body{
  background-image: linear-gradient(to right, #fab1a0 , #74b9ff);

}

.player1{
  float:left;
  margin-top: 100px;
}

#pig-dice{
  margin-top: 40px;
  font-family: 'Shojumaru', cursive;
  font-size: 70px;
  font-weight: bolder;
}

.player1 input[type="text"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #34495e;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius:24px;
  transition: 0.25s;

}

.player1 input[type="text"]:focus{
  width: 300px;
  border-color: #00FF00;
}

.player2{
  float:right;
  margin-top: 100px;
}

.player2 input[type="text"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #c0392b;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius:24px;
  transition: 0.25s;
}

.player2 input[type="text"]:focus{
  width: 300px;
  border-color: #00FF00;
}

#start-game{
  display: block;
  margin-left: 400px;
  margin-top: 29%;
  width: 400px;
  height:100px;
  border-radius: 100px;
  background: #778ca3;
  cursor: pointer;

}

#start-game:hover{
  background: #26de81
}

#pig-dice{
  text-align: center;
}
