
body{
  background-image: linear-gradient(to right, #fab1a0 , #74b9ff);
}

#page2{
  display:none;
}

.player1{
  float:left;
  margin-top: 10px;
  font-family: 'Shojumaru', cursive;
  font-size: 20px;
}

#pig-dice{
  margin-top: 40px;
  font-family: 'Shojumaru', cursive;
  font-size: 70px;
  font-weight: bolder;
}

#pig-dice2{
  margin-top: 30px;
  font-family: 'Shojumaru', cursive;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 600px;
}

.player1 input[type="text"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #34495e;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius:24px;
  transition: 0.25s;

}

.player1 input[type="text"]:focus{
  width: 500px;
  border-color: #00FF00;
}

.player2{
  float:right;
  margin-top: 10px;
  font-family: 'Shojumaru', cursive;
  font-size: 20px;
}

.player2 input[type="text"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #c0392b;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius:24px;
  transition: 0.25s;
}

.player2 input[type="text"]:focus{
  width: 500px;
  border-color: #00FF00;
}

#start-game{
  display: block;
  margin-left: 500px;
  margin-top: 15%;
  width: 400px;
  height:100px;
  border-radius: 100px;
  background: #778ca3;
  cursor: pointer;
  font-family: 'Shojumaru', cursive;
  font-size: 20px;
  color: #B22222;
}

#start-game:hover{
  background: #26de81
}

#pig-dice{
  text-align: center;
}
img{
  width: 130px;
  margin-left: 650px;

}
#img2{
  width: 80px;
  margin-left: 680px;

}
#p1Name{
  float: left;
  font-family: 'Shojumaru', cursive;
  margin-left: 40px;
  font-size: 30px
}
#p2Name{
  float: right;
  font-family: 'Shojumaru', cursive;
  margin-right: 40px;
  font-size: 30px
}
#playerStats{
  margin-top: 80px;
  border-style: solid;
  border-radius: 20px;
  float: left;
  background-color:#dfe6e9;
  height: 300px;
  font-family: 'Shojumaru', cursive;
  text-align: center;

}
#playerStats2{
  margin-top: 80px;
  border-style: solid;
  border-radius: 20px;
  float: right;
  background-color:#dfe6e9;
  height: 300px;
  font-family: 'Shojumaru', cursive;
  text-align: center;

}
#roll,#roll2{
  height: 50px;
  width: 70px;
  border-radius: 20px;
  background: #55efc4;
}
#roll:hover{
  background: #e17055;
}
#roll2:hover{
  background: #e17055;
}
#playA{
  margin-top: 50px;
  margin-left: 450px;
  display: block;
  width: 200px;
  height:50px;
  border-radius: 100px;
  background: #0984e3;
  cursor: pointer;
  font-family: 'Shojumaru', cursive;
  font-size: 20px;
  color: black;
}
#hold{
  margin-top: 50px;
  margin-left: 520px;
  display: block;
  width: 80px;
  height:30px;
  border-radius: 100px;
  background: #778ca3;
  cursor: pointer;
  font-family: 'Shojumaru', cursive;
  font-size: 13px;
  color: black;
}
